//COLORS
$color-primary: #4fb4c2;
$color-primary-light: #62c9d6;
$color-primary-dark: #136570;

$color-green: #62d66c;
$color-red: #ec0909;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$grid-width-port: 70rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
