.section_blog {
  margin: 4rem 0;

  &__category_container {
    text-align: left;
    margin-bottom: 1rem;
  }

  &__category_item {
    position: relative;
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    padding-bottom: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__category_text {
    padding: 0.5rem 0.5rem;
  }

  &__blog_container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  &__blog_content {
    border-bottom: 2px solid $color-primary;

    &__h1 {
      display: block;
      font-size: 4rem;
      margin-bottom: 0.5rem;
      color: $color-primary;
      &:hover {
        cursor: pointer;
      }
    }

    &__h2 {
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
    }

    &__p {
      text-align: left;
      word-wrap: break-word;
      padding: 0.5rem 0.5rem;
      margin: 0.5rem 0rem;
    }

    &__image {
      width: 80%;
      margin: 0 auto;
    }

    &__read_more {
      display: block;
      color: $color-primary;
      text-align: left;
      margin-bottom: 0.5rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
