@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spinAndMoveInLeft {
  0% {
    transform: translateX(30rem) rotate(0deg);
    opacity: 0; }
  25% {
    transform: translateX(22.5rem) rotate(180deg);
    opacity: 0.2; }
  50% {
    transform: translateX(15rem) rotate(360deg);
    opacity: 0.4; }
  75% {
    transform: translateX(7.5rem) rotate(540deg);
    opacity: 0.8; }
  100% {
    transform: translateX(0) rotate(720deg);
    opacity: 1; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: #000;
  color: #62c9d6;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

a {
  text-decoration: none; }

::selection {
  background-color: #4fb4c2;
  color: #000; }

body {
  font-family: "Cascadia Code", sans-serif;
  font-weight: 400; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #62c9d6, #136570);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--black {
    background-image: linear-gradient(to right, #000, #000); }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      padding: 0 4rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-med {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-med {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem; } }

.u-margin-top-small {
  margin-top: 2rem; }

.u-background-gray {
  background-color: #333; }

.u-color-green {
  color: #62d66c !important; }

.btn, .btn:link, .btn:visited {
  color: #4fb4c2;
  background-color: #000;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin: 1rem;
  display: inline-block;
  border-radius: 10rem;
  border: 3px solid #4fb4c2;
  transition: all 0.2s;
  position: relative;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(98, 201, 214, 0.4); }
  .btn:hover:disabled {
    transform: none;
    box-shadow: none; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:disabled {
  color: #777;
  border: 3px solid #777;
  cursor: default; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text, .btn-text:visited {
  font-size: 2.4rem;
  color: #4fb4c2;
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 3px;
  transition: all 0.2s;
  cursor: pointer; }

.btn-text:focus {
  border: none; }

.form {
  font-size: 1.6rem;
  font-weight: 700; }
  .form__group {
    margin-bottom: 2rem;
    width: 90%;
    margin: 0 auto; }
  .form__input {
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(79, 180, 194, 0.2);
      border-bottom: 3px solid #4fb4c2; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
    .form__input--invalid {
      color: red; }
      .form__input--invalid:focus {
        border-bottom: 3px solid red;
        box-shadow: 0 1rem 2rem rgba(255, 0, 0, 0.2); }
    .form__input::-webkit-input-placeholder {
      color: #62c9d6; }
  .form__label {
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
    .form__label--invalid {
      color: red; }
  .form__textarea {
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    width: 100%;
    height: 9rem;
    display: block;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .form__textarea {
        width: 100%; } }
    .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(79, 180, 194, 0.2);
      border-bottom: 3px solid #4fb4c2; }
    .form__textarea--invalid {
      color: red; }
      .form__textarea--invalid:focus {
        border-bottom: 3px solid red;
        box-shadow: 0 1rem 2rem rgba(255, 0, 0, 0.2); }
  .form__select:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(79, 180, 194, 0.2);
    border-bottom: 3px solid #4fb4c2; }
  .form__select--invalid {
    color: red; }
    .form__select--invalid:focus {
      border-bottom: 3px solid red;
      box-shadow: 0 1rem 2rem rgba(255, 0, 0, 0.2); }

.project_item {
  position: relative;
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .project_item {
      margin-top: 4rem; } }
  .project_item__content {
    width: 60%;
    margin: 0 auto;
    z-index: 1;
    background-color: #777;
    color: #4fb4c2;
    text-align: center;
    border-radius: 2px;
    border: 3px solid transparent;
    animation-name: spinAndMoveInLeft;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in; }
    .project_item__content--0, .project_item__content--1 {
      animation-delay: 0; }
    .project_item__content--2, .project_item__content--3 {
      animation-delay: 0.5s; }
    .project_item__content:hover {
      outline-offset: 1rem;
      outline: 1rem solid #4fb4c2;
      transform: translateY(-0.5rem) scale(1.1);
      z-index: 2; }
    .project_item__content__header {
      font-size: 2.4rem;
      color: #000;
      height: 15rem;
      background-size: cover; }
      .project_item__content__header--0 {
        background-image: linear-gradient(to right bottom, rgba(98, 201, 214, 0.7), rgba(19, 101, 112, 0.7)), url("petri_dish_project.png"); }
      .project_item__content__header--1 {
        background-image: linear-gradient(to right bottom, rgba(98, 201, 214, 0.5), rgba(19, 101, 112, 0.5)), url("yaotl_coatl_racing_project.png"); }
      .project_item__content__header--2 {
        background-image: linear-gradient(to right bottom, rgba(98, 201, 214, 0.7), rgba(19, 101, 112, 0.7)), url("labrynthium_project.png"); }
      .project_item__content__header--3 {
        background-image: linear-gradient(to right bottom, rgba(98, 201, 214, 0.5), rgba(19, 101, 112, 0.5)), url("racing_core_project_2.png"); }
    .project_item__content__text {
      font-size: 1.6rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #62c9d6;
      width: 75%;
      margin: 0 auto; }

.project_page {
  margin-left: 4rem;
  animation: fadeIn 1.5s ease-out 1s;
  animation-fill-mode: backwards; }
  .project_page__image {
    width: 90%; }
  .project_page__paragraph {
    margin-bottom: 0.5rem;
    margin-right: 5rem; }
    .project_page__paragraph--green {
      color: #62d66c; }

.navbar {
  width: 100%;
  padding: 1rem;
  background-image: linear-gradient(to bottom, #333, #000);
  overflow: hidden;
  box-shadow: 0 1.5rem 1.5rem rgba(98, 201, 214, 0.2);
  transition: all 0.4s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 37.5em) {
    .navbar {
      position: sticky;
      top: 0px;
      z-index: 2;
      animation: none; } }
  .navbar__item {
    float: left;
    font-size: 2rem;
    color: #4fb4c2;
    text-decoration: none;
    padding: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .navbar__item {
        font-size: 1.6rem;
        padding: 0.5rem; } }
    .navbar__item--right {
      float: right; }
    .navbar__item:hover {
      transform: translateY(-0.5rem) scale(1.2); }

.study_item {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative; }
  .study_item__content {
    width: 100%;
    background-color: #62c9d6;
    color: #000;
    padding: 1rem;
    border-radius: 3px;
    transform: skewX(10deg); }
    .study_item__content::after {
      content: "";
      display: table;
      clear: both; }
    .study_item__content:hover {
      transform: scale(1.1) skewX(10deg); }
    .study_item__content > * {
      transform: skewX(-10deg); }
    .study_item__content__image {
      float: left; }
    .study_item__content__heading {
      text-align: center;
      font-size: 2.4rem;
      margin-top: 2rem; }
    .study_item__content__paragraph {
      padding: 1.5rem;
      font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 70rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( ((100% - 6rem * 2) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 6rem * 3) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 6rem * 3) / 4) * 3 + 2 * (6rem)); }

.footer {
  background-color: #4fb4c2;
  color: #000;
  padding: 3rem 0;
  text-align: center; }
  .footer__icons {
    border-top: 1px solid #333;
    padding-top: 1rem;
    display: inline-block; }
    .footer__icons--black {
      color: #000;
      margin: 1rem; }
  .footer__copyright {
    border-top: 1px solid #333;
    display: inline-block;
    padding: 0 1rem;
    padding-top: 1rem; }

.empty {
  height: 80vh;
  position: relative; }
  .empty__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section_header {
  color: #000;
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(98, 201, 214, 0.8), rgba(19, 101, 112, 0.8)), url("home_header_code.png");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media only screen and (max-width: 56.25em) {
    .section_header {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); } }
  .section_header__text_box {
    position: absolute;
    width: 75%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .section_header__text_name {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInRight 1s ease-out; }
  .section_header__text_slogan {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.85rem;
    animation: moveInLeft 1s ease-out; }

.section_experience {
  padding: 0 3rem;
  margin-bottom: 5vh; }
  @media only screen and (max-width: 56.25em) {
    .section_experience {
      padding: 5rem 0;
      margin-bottom: 0; } }
  .section_experience__paragraph {
    font-size: 1.6rem; }
    .section_experience__paragraph:not(:last-child) {
      margin-bottom: 8rem; }
      @media only screen and (max-width: 56.25em) {
        .section_experience__paragraph:not(:last-child) {
          margin-bottom: 5rem; } }
  .section_experience__resume {
    width: 100%; }
    .section_experience__resume:hover {
      outline: 4px solid #136570; }

.section_projects {
  color: #000;
  padding: 20rem 0;
  margin-top: -5rem;
  background-image: linear-gradient(to right bottom, rgba(98, 201, 214, 0.8), rgba(19, 101, 112, 0.8)), url("home_project_code.png");
  background-size: cover;
  text-align: center;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); }
  @media only screen and (max-width: 56.25em) {
    .section_projects {
      clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); } }
  .section_projects__content {
    margin-top: 0; }
    @media only screen and (max-width: 56.25em) {
      .section_projects__content {
        margin-top: 2rem; } }

.section_learning {
  margin: 5rem 0; }
