.btn {
  &,
  &:link,
  &:visited {
    color: $color-primary;
    background-color: $color-black;
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    margin: 1rem;
    display: inline-block;
    border-radius: 10rem;
    border: 3px solid $color-primary;
    transition: all 0.2s;
    position: relative;

    //change for the <button> element
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba($color-primary-light, 0.4);
    &:disabled {
      transform: none;
      box-shadow: none;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &:disabled {
    color: $color-grey-dark-1;
    border: 3px solid $color-grey-dark-1;
    cursor: default;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--red_small {
    color: $color-red;
    border: 3px solid $color-red;
    padding: 0.5rem 1rem;
    margin: auto;
    &:focus,
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.btn-text {
  &,
  &:visited {
    font-size: 2.4rem;
    color: $color-primary;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 3px;
    transition: all 0.2s;
    cursor: pointer;
  }

  &:focus {
    border: none;
  }
}
