.commentList {
  color: $color-green;
  margin-bottom: 3rem;
  position: relative;

  &__comment {
    width: 90%;
    border-bottom: 2px solid $color-green;
    padding: 0.5rem 0;
    margin: 0 auto;
    word-wrap: break-word;

    &--admin {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
    &__heading {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    &__message {
      font-size: $default-font-size;
    }

    &__options {
      display: inline-block;
      font-size: $default-font-size;
      text-decoration: underline;
      margin-top: 1rem;
      margin-right: 25%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
