.navbar {
  width: 100%;
  padding: 1rem;
  background-image: linear-gradient(
    to bottom,
    $color-grey-dark-3,
    $color-black
  );
  overflow: hidden;
  box-shadow: 0 1.5rem 1.5rem rgba($color-primary-light, 0.2);
  transition: all 0.4s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  @include respond(phone) {
    position: sticky;
    top: 0px;
    z-index: 2;
    animation: none;
  }

  //navbar__item
  &__item {
    float: left;
    font-size: 2rem;
    color: $color-primary;
    text-decoration: none;
    padding: 1rem;

    @include respond(phone) {
      font-size: $default-font-size;
      padding: 0.5rem;
    }

    //navbar__item--right
    &--right {
      float: right;
    }

    &:hover {
      transform: translateY(-0.5rem) scale(1.2);
    }
  }
}
